* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  background: #000;
  height: 100vh;
}

canvas {
  display: block !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  margin: 0 !important;
}
